.logIn{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logIn h2{
  font-size: 30px;
}

.logIn label{
  color: red;
  font-size: 20px;
}

.inputText{
  width: 300px;
  font-size: 20px;
  padding: 5px;
  border: solid rgba(0, 0, 0, 0.5) 1px;
  border-radius: 10px;
}

.button{
  font-size: 20px;
  padding: 10px;
  border: solid rgba(0, 0, 0, 0.5) 1px;
  border-radius: 10px;
  background-color: rgb(220, 220, 255);
  cursor: pointer;
}